body
  background-color: #f3f3f1
.logo
  position: absolute
  top: -80px
  left: -100px
  max-width: 150px
  transition: all 1500ms cubic-bezier(0.455, 0.030, 0.515, 0.955)
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955)
  opacity: 0.6
  &.end
    top: 200px
    left: 200%
    opacity: 1

#news
  position: relative
  display: block

.cell_article
  perspective: 1000
  overflow: hidden
  position: absolute
  border: 1px solid #d0d0d0
  border-radius: 2px
  background-color: white
  width: 298px
  margin: auto
  box-shadow:         4px 4px 25px 0px rgba(50, 50, 50, 0.36)
  transition: all 1000ms cubic-bezier(0.455, 0.030, 0.515, 0.955)
  transition-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955)
  &.hover .flipper
    transform: rotateY(180deg)
  .front, .back
    width: 298px
    height: 389px
    backface-visibility: hidden
    position: absolute
    top: 0
    left: 0
  .front
    transform: rotateY(0)
    z-index: 2
  .back
    background: transparent image-url("notepad.png") repeat-y
    transform: rotateY(180deg)
    background-color: lightgray
  .flipper
    transition: 0.6s
    transform-style: preserve-3d
    position: relative
  .article_img
    background-color: black
    width: 296px
    height: 180px
    overflow: hidden
    border-top-left-radius: 2px
    border-top-right-radius: 2px
  h2
    clear: both
    margin: 0
    padding: 10px
    font-weight: normal
    font-size: 20px
    line-height: 20px
    height: 75px
    overflow: hidden
    a
      color: #333
  .article_favicon
    padding: 0px 10px
    height: 25px
    i.disable
      color: lightgray
    label
      display: inline
      font-size: 11px
      color: #666
      line-height: 1
      margin-left: 5px
    i
      float: right
  .description
    margin: 10px 0
    padding: 0 10px
    height: 63px
    font-size: 14px
    line-height: 1.5em
    overflow: hidden
    text-overflow: ellipsis
    font-weight: lighter
  .like_counter
    background: #ecf0f1
    padding: 0px 10px 5px 10px
    font-size: 13px
    font-weight: bold
    height: 30px
    border-top: 1px dotted lightgray
    .count_comment
      margin-right: 20px
    .count_comment, .count_like
      display: inline
      font-weight: lighter
      color: black
      float: right
      &:visited
        color: black
      &:hover
        color: #27ae60
    .number
      font-family: 'Roboto Condensed', sans-serif
      display: inline
      background: black
      color: white
      padding-left: 5px
      padding-right: 5px
      border: 1px solid white

.back
  h3
    background: #eee
    padding: 10px
    font-size: 13px
    width: 298px
    margin-left: 0px
    margin-top: -2px
    color: rgb (51,51,51)


  textarea
    width: 90%
    margin: auto
    font-size: 12px
    height: 75px
  .buttons
    margin: auto
    text-align: right
    padding-top: 10px
    a
      padding: 5px
      margin-right: 15px
      font-family: 'Roboto Condensed', sans-serif
  .comments
    li
      display: block
      overflow: hidden
      padding: 0 0 5px 0
      border-bottom: 1px solid #d0d0d0
      .user_icon
        overflow: auto
        float: left
        width: 40px
        height: 40px
        border-radius: 2px
        margin: 5px 5px 10px 5px
        img
          width: 100%
      .user_comment_container
        float: left
        width: 218px
        padding-top: 5px
        .user_name
          font-family: 'Roboto Condensed', sans-serif
          padding: 0 0 0 5px
          height: auto
          line-height: 1.2
          font-size: 14px
          float: none
        .user_comment
          font-weight: normal
          font-size: 14px
          line-height: 1.2em
          margin: 5px 0 0 5px